* text=auto
*.bat text eol=crlf
*.cmd text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.png binary
*.ico binary
*.dll binary
*.exe binary
*.lib binary
